@import '../../styles/Variables';

.container {
    display: flex;
    flex-direction: column;

    background-color:#FAFAFA;
    padding: 0 80px;
    min-height: 100vh;
    min-width: 500px;

    .header {
        margin-top: 244px;
        .header_title {
            margin-bottom: 20px;
        }
        .header_description {
            font-weight: 300;
            font-size: 17px;
            line-height: 22px;
            color: $basicBlack;
            opacity: 0.5;

        }
    }
    .steps {
        margin-top: 72px;

        //.steps_number {
        //    display: flex;
        //    justify-content: center;
        //    align-items: center;
        //    width: 42px;
        //    height: 42px;
        //
        //    background: $blue;
        //    color: $white;
        //
        //    border-radius: 35px;
        //
        //}
        //.description {
        //    font-weight: 500;
        //    font-size: 16px;
        //    line-height: 19px;
        //}
    }
}



