@import '../../styles/Variables';

.container {
    display: flex;
    flex-direction: column;

    background-color:#FAFAFA;
    padding: 0 80px;
    min-height: 100vh;
    max-width: 500px;

    .header {
        margin-top: 244px;
        .header_title {
            margin-bottom: 20px;
        }
        .header_description {
            font-weight: 300;
            font-size: 17px;
            line-height: 22px;
            color: $basicBlack;
            opacity: 0.5;

        }
    }
    .steps {
        margin-top: 72px;
    }
}



