// colors

$basicBlack: #000000;
$black: #1B1B1B;
$blue: #0063FF;
$white: #FFFFFF;
$greyDisabledStep: #EEEDF2;
$red: #FF0000;

// fonts

$fp: 15px;
$fs: 14px;

// font
$inter: 'Inter';
$regular: 400;
$medium: 500;
