:root {
    /* -------color------ */
    --black: #1B1B1B;
    /*--white: #FFFFFF;*/
    /*--gray: #C4C4C4;*/
    /*--light-gray-kit: #F4F4F4;*/
    /*--light-gray: #828282;*/
    /*--back-sidebar: #FAFAFA;;*/
    /*--front: #FFF;*/
    /*--red: #FC133D;*/

    /* -------fonts------ */
    --fh1: 64px;
    --fh2: 34px;
    --fh3: 25px;
    --fh4: 20px;
    --fd: 20px;
    --fp: 15px;
    --fs: 13px;

    /* -------font------ */
    --roboto: 'Roboto';
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
}

* {
    margin: 0;
    padding: 0;

    text-decoration: none;
    list-style-type: none;

    border: 0;
}

*, *::before,
*::after {
    box-sizing: border-box;

    -webkit-tap-highlight-color: transparent;
}

*:focus,
*:active {
    outline: none;
}


body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url('./assets/date.svg') no-repeat;
    width: 12px;
    height: 12px;
    border-width: thin;
    cursor: pointer;
}



